body {
	background: #e78c8c;
	font-family: "Segoe UI";
	font-weight: 100;

	height: 100%;
}

/* Override default font weight. */
h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

header {
	width: 100%;
	height: 166px;

	position: sticky;
	top: 0;
	background: white;
}

header .categories {
	position: absolute;
	top: 96px;
	height: 70px;

	display: block;
	width: 100%;
	background: #123d65;
}

footer {
	background: #123d65;
	height: 128px;
}

form {
	
}

form > * {
	margin: 2em 0;
}

button {
	background: #123d65;
	color: white;

	text-transform: uppercase;

	border-radius: 128px;
	border: none;
	padding: 0.5em 1em;
}

.tabs {
	width: 70%;
	margin: 0 auto;
	padding: 120px 0;
}

.tabs .tab-navbar {
	display: flex;
	justify-content: center;
}

.tabs .tab-navbar .tab-button {
	text-transform: uppercase;
	padding: 1em;
	border-bottom: #123d65 4px solid;

	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}